:root {
  --color-text: #0F1414;
  --color-bg: #EEF2F2;
  --color-primary: #94A4F9;
  --color-secondary: #392E50;
  --color-accent: #8065E4;
  --shadow: box-shadow: 5px 15px 5px rgba(0, 0, 0, 0.25);
  --font-header:  'Ubuntu', sans-serif;
  --font-text:  'Overpass', sans-serif;
}


